.bg{
    background-image: url('../assets/images/bg-2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

@media (max-width:992px) {
    .bg{
        background-size: cover;
        background-position: left;
        background-attachment: initial;
        background-repeat: no-repeat;
    }
}

